<footer>
    <nav class="round">
        <ul>
            <li><%= link_to "About", 'http://ketann.in'%></li>
            <li><%= link_to "Contact", 'http://ketann.in/p/contact.html'%></li>
            <li><%= link_to "Tutorial", 'http://railstutorial.org' %></li>
        </ul>
</footer>
